:root {
    --lightPink: rgb(176, 104, 223);
    --pink: rgb(100, 99, 231);
    --orange: rgb(255, 146, 113);
    --black: rgb(30, 31, 54);
    --gray: rgb(120, 120, 135);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    background-image: linear-gradient(var(--lightPink), var(--pink));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
}
.container {
    width: 65vw;
    margin: 0 auto;
    background: white;
    border-radius: 30px;
    display: flex;
}
section {
    width: 50%;
    display: flex;
    padding: 50px 0;
    overflow: hidden;
}
/***********
left side
***********/
section:first-child {
    flex-direction: row;
}
.imgWoman {
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 450px;
    height: 450px;
    position: relative;
    left: -50px;
    z-index: 5;
}
.imgWoman::before {
    content: url(images/bg-pattern-desktop.svg);
    position: absolute;
    left: -512px;
    top: -350px;
    z-index: -1;
}
@media (max-width: 1400px) {
    .imgWoman::before {
        left: -545px;
    }  
}
.box {
    position: absolute;
    z-index: 10;
    left: calc(35vw / 2 - 92px);
}
/***********
right side
***********/
section:last-child {
    flex-direction: column;
}
article {
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray);
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    margin-bottom: 25px;
    color: var(--black);
}
article p {
    width: 80%;
    color: var(--gray);
    padding: 15px 0;
}
article p:hover {
    color: var(--orange);
    cursor: pointer;
    transition: .3s ease;
}
#active p:hover {
    color: var(--gray);
    cursor: auto;
}
#active p:first-child {
    font-weight: 900;
    color: var(--black);
}
.arrowDown {
    background-image: url(images/icon-arrow-down.svg);
    background-position: center;
    background-size: cover;
    height: 8px;
    width: 16px;
    position: relative;
    left: -1vw;
}
/********************
responsive for ipad
********************/
@media (max-width: 1200px) {
    body {
        height: auto;
    }
    .container {
        width: 90vw;
        flex-direction: column;
        margin: 250px auto 440px auto;
    }
    section:first-child {
        justify-content: center;
        align-items: flex-start;
    }
    section {
        width: 100%;
        overflow: visible;
        padding: 85px 0;
    }
    .imgWoman {
        position: absolute;
        left: auto;
        top: 45px;
    }
    .imgWoman::before {
        display: none;
    }
    .box {
        left: calc(52vw - 250px);
        top: 170px;
    }
    .imgBottomShadow {
        position: absolute;
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: 100%;
        width: 450px;
        height: 450px;
        background-repeat: no-repeat;
        top: 250px;
    }
    h1 {
        text-align: center;
        font-size: 2rem;

    }
    article {
        width: 90%;
        margin: 0 auto;
    }
}
/********************
responsive for mobile
********************/
@media (max-width: 767px) {
    .imgWoman {
        background-image: url(images/illustration-woman-online-mobile.svg);
        width: 266px;
        height: 196px;
    }
    .box {
        display: none;
    }
    .container {
        margin: 150px auto 80px auto;
    }
    section {
        padding: 50px 0;
    }
    .imgBottomShadow {
        width: 266px;
        height: 196px;
        top: 145px;
        background-size: 89%;
        background-position: top right 0px;
    }
}